body {
     color:white;
    background: black;
    margin:0px
}

header {
    border-bottom: solid 2px rgb(255, 28, 28);
    padding: 20px;  
    font-size: 32px;
    color:rgb(255, 28, 28)
}

section {
    background: rgb(8, 8, 8);
}